* {
  padding: 0px;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: 'WorkSans Regular';
  src: url("../fonts/WorkSans-Regular.ttf");
}

@font-face {
  font-family: 'PlayfairDisplay Bold';
  src: url("../fonts/PlayfairDisplay-Bold.ttf");
}

@font-face {
  font-family: 'WorkSans Medium';
  src: url("../fonts/WorkSans-Medium.ttf");
}

section > div .block .img-side .img-type, .btn, footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header {
  width: 100%;
  height: 100px;
}

header > div {
  max-width: 1366px;
  height: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0px 100px;
}

header > div .navbar i {
  display: none;
}

header > div .navbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

header > div .navbar ul li a {
  text-decoration: none;
  font-family: "WorkSans Regular";
  font-size: 14px;
  color: #5f5f5f;
  margin-left: 40px;
  text-transform: uppercase;
}

header > div .navbar ul li .active {
  color: #060606;
}

section {
  background: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

section > div {
  max-width: 1366px;
  padding: 100px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 370px 370px 370px;
      grid-template-columns: 370px 370px 370px;
  grid-gap: 30px;
}

section > div .block {
  min-height: 425px;
}

section > div .block:nth-of-type(1) {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

section > div .block:nth-of-type(2) {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 4;
}

section > div .block:nth-of-type(3) {
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

section > div .block:nth-of-type(4) {
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 5;
}

section > div .block:nth-of-type(5) {
  -ms-grid-row: 4;
      grid-row-start: 4;
  grid-row-end: 6;
  margin-top: -96px;
}

section > div .block:nth-of-type(6) {
  -ms-grid-row: 3;
      grid-row-start: 3;
  grid-row-end: 5;
}

section > div .block:nth-of-type(7) {
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 8;
}

section > div .block:nth-of-type(8) {
  -ms-grid-row: 6;
      grid-row-start: 6;
  grid-row-end: 8;
  margin-top: -50px;
}

section > div .block:nth-of-type(9) {
  -ms-grid-row: 5;
      grid-row-start: 5;
  grid-row-end: 8;
}

section > div .block .img-side {
  background: #e0e0e0;
  position: relative;
}

section > div .block .img-side .img-type {
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 90px;
  height: 30px;
  font-family: "WorkSans Medium";
  font-size: 12px;
  text-transform: uppercase;
  background: #202020;
  color: #ffffff;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section > div .block .text-side {
  background: #ffffff;
  padding: 24px 22px 26px 30px;
}

section > div .block .text-side h6 {
  font-family: "PlayfairDisplay Bold";
  font-size: 20px;
}

section > div .block .text-side .date {
  font-family: "WorkSans Medium";
  font-size: 12px;
  text-transform: uppercase;
  margin: 20px 0px 23px;
}

section > div .block .text-side .text-info {
  font-family: "WorkSans Regular";
  font-size: 15px;
}

.h240 {
  height: 240px;
}

.h370 {
  height: 370px;
}

.btn {
  height: 100px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn p {
  font-family: "WorkSans Regular";
  font-size: 14px;
  text-transform: uppercase;
  color: #101010;
}

footer {
  background: #ececec;
  padding: 52px 0px 92px;
  width: 100%;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin: 0 auto;
}

footer ul li {
  margin-right: 15px;
}

footer ul li a i {
  color: #9a9a9a;
  font-size: 1em;
}

/** Mobile responsiveness  **/
@media screen and (max-width: 1366px) {
  section > div {
    max-width: 100%;
    padding: 100px 20px;
  }
}

@media screen and (max-width: 1200px) {
  section > div {
    -ms-grid-columns: 370px 370px;
        grid-template-columns: 370px 370px;
  }
  section > div .block {
    min-height: 425px;
  }
  section > div .block:nth-of-type(1) {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
  }
  section > div .block:nth-of-type(2) {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 4;
  }
  section > div .block:nth-of-type(3) {
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 5;
  }
  section > div .block:nth-of-type(4) {
    -ms-grid-row: 4;
        grid-row-start: 4;
    grid-row-end: 6;
    margin-top: -96px;
  }
  section > div .block:nth-of-type(5) {
    -ms-grid-row: 5;
        grid-row-start: 5;
    grid-row-end: 7;
    margin-top: 0px;
  }
  section > div .block:nth-of-type(6) {
    -ms-grid-row: 6;
        grid-row-start: 6;
    grid-row-end: 8;
    margin-top: -96px;
  }
  section > div .block:nth-of-type(7) {
    -ms-grid-row: 7;
        grid-row-start: 7;
    grid-row-end: 10;
  }
  section > div .block:nth-of-type(8) {
    -ms-grid-row: 8;
        grid-row-start: 8;
    grid-row-end: 10;
    margin-top: -50px;
  }
  section > div .block:nth-of-type(9) {
    -ms-grid-row: 10;
        grid-row-start: 10;
    grid-row-end: 13;
  }
}

@media screen and (max-width: 825px) {
  section > div {
    -ms-grid-columns: 370px;
        grid-template-columns: 370px;
  }
  section > div .block {
    min-height: 425px;
  }
  section > div .block:nth-of-type(1) {
    -ms-grid-row: 1;
        grid-row-start: 1;
    grid-row-end: 3;
  }
  section > div .block:nth-of-type(2) {
    -ms-grid-row: 3;
        grid-row-start: 3;
    grid-row-end: 7;
  }
  section > div .block:nth-of-type(3) {
    -ms-grid-row: 7;
        grid-row-start: 7;
    grid-row-end: 9;
  }
  section > div .block:nth-of-type(4) {
    -ms-grid-row: 9;
        grid-row-start: 9;
    grid-row-end: 11;
    margin-top: 0px;
  }
  section > div .block:nth-of-type(5) {
    -ms-grid-row: 11;
        grid-row-start: 11;
    grid-row-end: 13;
  }
  section > div .block:nth-of-type(6) {
    -ms-grid-row: 13;
        grid-row-start: 13;
    grid-row-end: 15;
    margin-top: 0px;
  }
  section > div .block:nth-of-type(7) {
    -ms-grid-row: 15;
        grid-row-start: 15;
    grid-row-end: 18;
  }
  section > div .block:nth-of-type(8) {
    -ms-grid-row: 18;
        grid-row-start: 18;
    grid-row-end: 20;
    margin-top: 0px;
  }
  section > div .block:nth-of-type(9) {
    -ms-grid-row: 20;
        grid-row-start: 20;
    grid-row-end: 23;
  }
  header > div {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header > div .navbar ul li a {
    margin-left: 12px;
  }
}

@media screen and (max-width: 600px) {
  section > div {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  header > div {
    padding: 0px 20px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  header > div .navbar i {
    display: block;
    font-size: 25px;
    color: #060606;
  }
  header > div .navbar ul {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */